.forgotPass {
  position: relative;
  width: 100%;

  .snackbarItem {
    position: absolute;
    top: 250px;
    width: 100%;
    right: 0;
  }
}

@media (max-width: 600px) {
  .forgotPass .snackbarItem {
    left: 0;
  }
}